.Row__poster {
    position: relative;
    margin-right: 0.5rem;

    &:last-of-type{
        img {
            margin-right: 3rem;
        }
    }

    &--wrp {
        display: flex;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    img {
        height: 100%;
        width: 100%;
        min-height: 100px;
        border-radius: 5px;
    }

    &--big {
        img {
            width: 100%;
            min-height: auto;
        }
    }

    .Button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        display: inline-flex;
        padding: 6px;
        border-radius: 50%;
        border: 0;
        font-size: 14px;
        cursor: pointer;
    }
}