.Row__poster {
    margin-right: 0.5rem;

    &--wrp {
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    img {
        width: 200px;
        border-radius: 5px;
        height: 100%;
    }

    &--big {
        img {
            width: 300px;
        }
    }
}