@import "../../scss/variables";

.Row__poster {
	position: relative;
	margin-right: 0.5rem;

	&:last-of-type {
		img {
			margin-right: 3rem;
		}
	}

	&--wrp {
		display: flex;
		position: relative;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	img {
		height: 100%;
		width: 100%;
		min-height: 100px;
		border-radius: 5px;
	}

	&--big {
		img {
			width: 100%;
			min-height: auto;
		}
	}

	&-info {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateY(15%);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		padding: 0.6em;
		opacity: 0;
		z-index: 2;
        border-radius: 5px;
		transition: all .4s ease .15s;

		&--iconswrp {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&--icon {
			display: inline-flex;
			padding: 8px;
			border-radius: 50%;
			border: 0;
			font-size: 14px;
			cursor: pointer;
			margin: 0 5px;
			margin-bottom: 0.8em;
			background: transparent;
			color: $white;
			border: 1px solid $white;
			transition: all 0.3s ease-out;

			&:hover {
				background: $white;
				color: $black;
			}

			&:first-child {
				margin-left: 0;
				background: $white;
				color: $black;

				&:hover {
					background: rgba($white, 0.7);
					border-color: rgba($white, 0.7);
				}
			}
		}

		&--title {
			h3 {
				font-size: 15vw;
				font-weight: 600;
				margin-bottom: 0.3vw;
				text-transform: none;
			}

			p {
				font-size: 13px;
				margin-top: 0.3vw;
				margin-bottom: 0;
			}
		}

		&--genres {
			display: block;
			width: 100%;

			.genre-title {
				display: inline-block;
				width: auto;
				font-size: 10px;
				margin: 0 0.3vw 0 0;

				&:after {
					content: "●";
					display: inline-block;
					margin: 0 0 0 0.3vw;
					font-size: 6px;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
					color: rgba($white, 0.4);
				}

				&:last-child:after {
					display: none;
				}
			}
		}
	}
}

.swiper-slide {
	&:hover {
		.Row__poster {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
                border-radius: 5px;
                background: linear-gradient(
                                360deg,
                                rgba(0, 0, 0, 0.6) 0%,
                                rgba(255, 255, 255, 0) 100%
                );
				z-index: 0;
			}

            &-info {
                opacity: 1;
                transform: translateY(0);
            }
		}
	}
}
