.Row__poster {
    margin-right: 0.5rem;

    &:last-of-type{
        img {
            margin-right: 3rem;
        }
    }

    &--wrp {
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    img {
        height: 100%;
        width: 250px;
        min-height: 100px;
        border-radius: 5px;
    }

    &--big {
        img {
            width: 300px;
            min-height: 450px;
        }
    }
}