@import "../../scss/variables";

.PlayAnimation {
	&__wrp {
		background: radial-gradient(#fff, #aaa);
		background-size: 100vw 100vh;
		overflow: hidden;
		padding-top: 40vh;
	}

	&__text {
		text-align: center;
		font-family: 'Inter', sans-serif;
		font-size: 12vmin;
		font-weight: 700;
		animation: netflix_style 4s infinite;
		outline: none;
		white-space: nowrap;
	}
}

@keyframes netflix_style {
	0% {
		text-shadow: makelongshadow(100,1);
		color: #f3f3f3;
		transform: scale(1.5, 1.5);
	}
	10% {
		text-shadow: makelongshadow(100,1.5);
		color: #f3f3f3;
		transform: scale(1.5, 1.5);
	}
	15% {
		color:#f3f3f3;
	}
	20% {
		color: $red;
		text-shadow: none;
		transform: scale(1.1, 1.1);
	}
	75% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		color: $red;
		transform: scale(0.85, 0.9);
	}

	100% {
		opacity: 0;
	}
}

@function makelongshadow($length,$angle) {
	$val: 0px 0px transparent;
	@for $i from 1 through $length {
		$val: #{$val}, #{$i}px #{$i*$angle}px #aaa;
	}
	@return $val;
}