@import '../../scss/mixin';

.SearchResults {
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 3px;
    margin-bottom: 4vw;
    width: 100%;

    @include mq(330px) {
        width: 50%;
    }
    @include mq(625px) {
        width: 33.3%;
    }
    @include mq(998px) {
        width: 25%;
    }
    @include mq(1378px) {
        width: 16.6%;
    }

    img {
        height: 100%;
        width: 100%;
        min-height: 110px;
        border-radius: 5px;
    }

    &__fallback {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        min-width: 100%;
        min-height: 110px;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        z-index: -1;
        padding: 0 1em;
    }
}