.SearchResults {
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 3px;
    margin-bottom: 4vw;
    width: 20%;

    @media screen and (min-width: 769px) and (max-width: 1329px) {
        width: 33.3%;
    }

    @media screen and (min-width: 400px) and (max-width: 768px) {
        width: 50%;
    }

    @media screen and (max-width: 399px) {
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        min-height: 150px;
        border-radius: 5px;
    }

    &__fallback {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        min-width: 100%;
        min-height: 150px;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        z-index: -1;
    }
}