@import '../../scss/mixin';
@import '../../scss/variables';

.Auth {
    position: relative;
    height: 100vh;
    width: 100%;
    
    &__bgLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(14, 14, 14, 0.6);
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__opacityLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(14, 14, 14, 0.6);
        z-index: 1;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 2em;

        &--img {
            width: 100%;
            max-width: 160px;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        max-width: 500px;
        padding: 3.75em 3em;
        border-radius: 8px;
        background-color: rgba($color: $pure-black, $alpha: 0.75);

        @media screen and (max-width: 768px) {
            max-width: 90%;
        }

        &--title {
            font-size: 1.5rem;
            margin-bottom: 1em;
        }

        &--divider {
            margin: 1.5em;
            border-color: #777777;
        }

        &--toggleView {
            display: inherit;
            font-family: $main-font;
            font-size: 14px;
            line-height: 1.4;
            text-align: center;

            .toggler {
                color: $red;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.4;
                cursor: pointer;
                transition: all 0.2s ease-out;

                &:hover {
                    color: darken($red, 5);
                }
            }
        }
    }
}