.FavouritePoster {
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 3px;
    margin-bottom: 4vw;
    width: 20%;

    @media screen and (max-width: 768px) {
        width: 50%;
    }
    
    @media screen and (min-width: 769px) and (max-width: 1329px) {
        width: 33.3%;
    }

    img {
        height: 100%;
        width: 100%;
        min-height: 150px;
        border-radius: 5px;
    }
}