@import '../../scss/mixin';
@import '../../scss/variables';

.Navbar {
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4vw;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    transition: all 0.2s ease-out;

    &__fixed {
        background-image: none;
        background-color: $black;
    }

    &__logo {
        max-width: 130px;
        width: 100%;
    }

    &__primarynav,
    &__secondarynav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    &__navlinks {
        margin-left: 2rem;
        
        &--link {
            display: inline-block;
            margin: 0 12px;
            font-size: 14px;
            text-shadow: 2px 2px 4px rgba($color: $black, $alpha: 0.45);
            
            @include mq('md'){
                font-size: 1vw;
            }
            @include mq(1330px){
                font-size: 0.8vw;
            }
            
            a {
                color: #e5e5e5;
                text-decoration: none;
                cursor: pointer;
                font-weight: 400;
                will-change: font-weight;
                transition: color .2s ease-in-out;

                &:hover {
                    color: #b3b3b3;
                }
            }

            .activeNavLink {
                color: $white;
                font-weight: 700;
                cursor: default;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &__primarynav {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 40px;
        cursor: pointer;

        &.active {
            .Navbar__primarynav--caret {
                transform: rotate(180deg);
            }
        }

        &--caret {
            transition: transform 0.2s ease-out;
        }

        &--content {
            display: block;
            pointer-events: none;
            position: absolute;
            opacity: 0;
            top: 100px;
            right: 0;
            padding: 10px 0;
            min-width: 180px;
            border: 1px solid rgba(255,255,255,0.5);
            background-color: rgba(0,0,0,0.9);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            transition: all 0.2s ease-out;

            &.active {
                opacity: 1;
                top: 55px;
                pointer-events: all;
            }
            
            li {
                color: #e5e5e5;
                padding: 5px 15px;
                text-decoration: none;
                display: block;
                cursor: pointer;
                transition: color .2s ease-in-out;

                &:hover {
                    color: #b3b3b3;
                }

                a {
                    display: block;
                }
            }

            .activeNavLink {
                color: $white;
                font-weight: 700;
                cursor: default;

                &:hover {
                    color: $white;
                }
            }
        }
    }
    
    &__secondarynav {
        margin-left: auto;
    }

    &__navsearch {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 2rem;
        cursor: pointer;

        &--search {
            background-color: rgba($color: $black, $alpha: 0.25);
            border: 1px solid $white;
            padding: 7px 30px 7px 7px;
            font-size: 14px;
            color: $white;
            outline: none;
            border-radius: 6px;
            width: 0;
            opacity: 0;
            transition: all 0.2s ease-out;
        }

        &--toggler {
            margin-left: 0.5rem;
        }

        &--clear {
            position: absolute;
            right: 18%;
            top: 55%;
            transform: translateY(-50%);
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease-in-out;

            &.typing {
                opacity: 1;
                pointer-events: all;
                transition-delay: 0.1s;
            }
        }

        &--active {
            width: 200px;
            opacity: 1;
        }
    }

    &__navprofile {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.active {
            .Navbar__navprofile--caret {
                transform: rotate(180deg);
            }
        }
        
        &--avatar {
            max-width: 40px;
            width: 100%;
            margin-right: 8px;
        }

        &--caret {
            transition: transform 0.2s ease-out;
        }

        &--content {
            display: block;
            pointer-events: none;
            position: absolute;
            opacity: 0;
            top: 100px;
            right: 0;
            padding: 10px 0;
            min-width: 180px;
            border: 1px solid rgba(255,255,255,0.5);
            background-color: rgba(0,0,0,0.9);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            transition: all 0.2s ease-out;

            &.active {
                opacity: 1;
                top: 55px;
                pointer-events: all;
            }
            
            li {
                color: $white;
                padding: 5px 15px;
                text-decoration: none;
                display: block;
        
                &:hover {
                    text-decoration: underline;
                }
                a {
                    display: block;
                }
            }
        }
    }
}