@import '../../scss/mixin';
@import '../../scss/variables';

.Navbar {
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4vw;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    transition: all 0.2s ease-out;

    &__fixed {
        background-image: none;
        background-color: $black;
    }

    &__logo {
        max-width: 130px;
        width: 100%;
    }

    &__primarynav,
    &__secondarynav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__navlinks {
        margin-left: 2rem;

        &--link {
            display: inline-block;
            margin: 0 8px;
            font-size: 14px;
            text-shadow: 2px 2px 4px rgba($color: $black, $alpha: 0.45);
            
            @include mq('md'){
                font-size: 1vw;
            }
            @include mq(1330px){
                font-size: 0.8vw;
            }
        }
    }

    &__secondarynav {
        margin-left: auto;
    }

    &__navsearch {
        display: flex;
        align-items: center;
        margin-right: 2rem;

        &--search {
            background-color: rgba($color: $black, $alpha: 0.25);
            border: 1px solid $white;
            padding: 7px 14px 7px 7px;
            font-size: 14px;
            color: $white;
            outline: none;
            border-radius: 6px;
        }

        &--toggler {
            margin-left: 0.5rem;
        }
    }

    &__navprofile {
        display: flex;
        align-items: center;
        
        &--avatar {
            max-width: 40px;
            width: 100%;
            margin-right: 8px;
        }
    }
}