@import '../../scss/variables';
@import '../../scss/mixin';

.Modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($pure-black, 0.7);
    opacity: 1;
    pointer-events: all;
    z-index: 98;
    transition: all 0.8s ease-out;

    &.Modal__invisible {
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__wrp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 90vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 99;
    pointer-events: all;
    background: $light-black;
    border-radius: 5px;

    @include mq(lg) {
      width: 55vw;
    }

    @include mq(ll) {
      max-width: 750px;
      width: 100%;
    }

    &.Modal__invisible {
      z-index: -1;
      pointer-events: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__closebtn {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
    display: inline-flex;
    padding: 8px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 0.8em;
    background: $black;
    color: $white;
    border: 1px solid $white;
    transition: all 0.3s ease-out;
    outline: none;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  &__image {
    &--wrp {
      position: relative;
    }
    &--img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &--shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background: linear-gradient(180deg, transparent, rgba(14, 14, 14, 0.6), $light-black);
    }
  }

  &__info {
    &--wrp {
      padding: 1.5em 2em;
    }
    &--title {
      font-size: 26px;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &--description {
      font-size: 16px;
      line-height: 1.5;
    }
    &--line {
      border-color: rgba(121,121,121,0.7);
      margin: 1.5em 0;
    }
    &--otherTitle {
      font-size: 20px;
      line-height: 1;
      font-weight: 400;
      margin-bottom: 15px;
    }
    &--row {
      font-size: 14px;
      line-height: 20px;
      margin: .5em;
      margin-left: 0;
      word-break: break-word;
      &-label {
        color: #777;
      }
      &-description {
        color: #ddd;
      }
    }
  }
}