$base-color: rgba(#6d6d6e, 0.4);
$shine-color: rgba(255,255,255,0.2);
$animation-duration: 2s;

@mixin background-gradient {
  background: linear-gradient(to right, rgba(#6d6d6e, 0.1), rgba(#6d6d6e, 0.5) 50%, rgba(#6d6d6e, 0.1) 80%), rgba(#6d6d6e, 0.8);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
}

.Skeleton {
  background-color: rgba(#6d6d6e, 0.8);
  margin: 10px 0;
  border-radius: 4px;

  &__inline {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  &.title {
    width: 25%;
    height: 40px;
    margin-bottom: 20px;

    @include background-gradient;
    animation: shine $animation-duration infinite cubic-bezier(0.76, 0, 0.24, 1);
  }

  &.button {
    display: inline-block;
    width: 10%;
    height: 45px;
    margin-bottom: 20px;
    margin-right: 15px;

    @include background-gradient;
    animation: shine $animation-duration infinite cubic-bezier(0.76, 0, 0.24, 1);
  }

  &.text {
    width: 40%;
    height: 20px;

    @include background-gradient;
    animation: shine $animation-duration infinite cubic-bezier(0.76, 0, 0.24, 1);
  }
}

@keyframes shine {
  to {
    background-position: 140% -10%;
  }
}