@import '../../scss/mixin';
@import '../../scss/variables';

.Banner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80vh;
    background: $black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 0 2vw 0 5vw;
        z-index: 1;

        &--title {
            font-size: 30px;
            line-height: 1;
            text-shadow: 2px 2px 4px rgba($color: $black, $alpha: 0.45);
            @include mq('lg'){
                font-size: 60px;
            }
        }

        &--description {
            max-width: 30vw;
            font-size: 1.2vw;
            line-height: 1.4;
            text-shadow: 2px 2px 4px rgba($color: $black, $alpha: 0.45);
            margin-top: 1vw;
        }
    }

    &__button {
        display: inline-block;
        min-width: 150px;
        padding: 12px 20px;
        margin-left: 10px;
        border-radius: 6px;
        border: 0;
        margin-top: 1em;
        font-family: 'Inter';
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
            background-color: $red;
            color: $white;
        }
    }

    &__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba($color: $black, $alpha: 0.2);
    }
}