@import '../../scss/mixin';
@import '../../scss/variables';

.Banner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80vh;
    background: $black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 0 5vw;
        z-index: 1;

        &--title {
            font-size: 40px;
            line-height: 1;
            text-shadow: 2px 2px 4px rgba($color: $black, $alpha: 0.45);

            @include mq('md'){
                font-size: 60px;
            }
            @include mq('lg'){
                max-width: 50%;
            }
        }
        
        &--description {
            font-size: 16px;
            line-height: 1.6;
            text-shadow: 2px 2px 4px rgba($color: $black, $alpha: 0.45);
            margin-top: 1rem;
            
            @include mq('md'){
                font-size: 2vw;
            }
            @include mq('lg'){
                max-width: 30vw;
                font-size: 1.2vw;
                margin-top: 1vw;
            }
        }
    }

    &__buttons {
        margin-top: 1vw;
    }
    
    &__button {
        display: inline-block;
        min-width: 150px;
        padding: 12px 20px;
        margin-left: 10px;
        border-radius: 6px;
        border: 0;
        margin-top: 1em;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        
        &:first-child {
            margin-left: 0;
            background-color: $red;
            color: $white;
        }
        
        @include mq('md'){
            font-size: 15px;
        }
    }

    &__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba($color: $black, $alpha: 0.2);
    }

    &__bottom-shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7.5rem;
        background: linear-gradient(180deg, transparent, rgba(14, 14, 14, 0.6), $black);
    }
}